
#crumbs-container {
    display:none;
    bottom: 0;
    position: fixed;
    text-align: left;
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.4);
    width: 50%;
    max-height: 300px;
    overflow: auto;
}
#crumbs-container .col-sm-2{
        padding-left:10px;
}
#crumbs-container .col-sm-6{
    padding-left:10px;
}
.crumbs{
    background-color: rgba(128, 128, 128, 0.77);
    margin: 5px;
    display: flex;

}
.crumbs ul {
    list-style: none;
    display: inline-table;
}
.crumbs ul li {
    display: inline;
}

.crumbs ul li a {
    display: block;
    float: left;
    background: #3498db;
    text-align: center;
    padding:6px 15px;
    margin:2.5px;
    position: relative;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}
.crumbs ul li a i{
    margin-left:5px
}

.crumbs ul li a i:hover {
    color: red;
}
		
		